#container{
    
  background-color: aliceblue;
  width: 100%;
  max-width: 500px; /* Bileşenin maksimum genişliğini sınırlandırır */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekler */

}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-input{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(156, 95, 235);
    border-radius: 5px;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list{
    margin: 15px 0;
}

.list > li{
    background-color: rgb(201, 238, 185);
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none; /* Varsayılan stilin kaldırılması */
    background-color: #fff;
    border: 2px solid rgb(156, 95, 235);
    border-radius: 50%; /* Daire yapmak için */
    position: relative;
    cursor: pointer;
    outline: none;
    margin-left: auto;
}

input[type="checkbox"]:checked {
    background-color: rgb(156, 95, 235);
    border-color: rgb(156, 95, 235);
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}




button{
  background-color: rgb(156, 95, 235);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(147, 79, 237);
}

#son{
    background-color: rgb(156, 95, 235);
    color: white;
    padding: 5px 10px;
}

#son:hover{
    background-color: rgb(147, 79, 237);
}

#son:disabled{
    background-color: rgb(156, 95, 235);
    color: white;
}

#son:disabled:hover{
    background-color: rgb(156, 95, 235);
}

.hh{
    color: rgb(156, 95, 235);
    opacity: 0.8;
}

.todo-input, btn-form{
    display: inline-block;
    vertical-align: middle; /* Dikeyde hizalama */
    margin-right: 10px; /* Aradaki boşluk */
}