#container{
    
  background-color: aliceblue;
  width: 80%;
  height: 80%;
  max-width: 600px; /* Bileşenin maksimum genişliğini sınırlandırır */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekler */


}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-input{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(228, 134, 147);
    border-radius: 5px;
    border: ridge 2px;
    padding: 5px;
    min-width: 20em;
    min-height: 5em;
    overflow: auto;
    max-width: 20em;
    max-height: 5em;

}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list{
    margin: 15px 0;
    overflow-y: auto;
    max-height: 275px;
}

.list > li{
    background-color: #B0E0E6;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none; /* Varsayılan stilin kaldırılması */
    background-color: #fff;
    border: 2px solid rgb(228, 134, 147);
    border-radius: 50%; /* Daire yapmak için */
    position: relative;
    cursor: pointer;
    outline: none;
    margin-left: auto;
}

input[type="checkbox"]:checked {
    background-color: rgb(228, 134, 147);
    border-color: rgb(228, 134, 147);
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}




button{
  background-color: rgb(228, 134, 147);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(228, 124, 138);
}

#son{
    background-color: rgb(228, 134, 147);
    color: white;
    padding: 5px 10px;
    margin-top: 15px; /* Listenin altına mesafe ekler */
    text-align: center;
    width: 100%;
}

#son:hover{
    background-color: rgb(228, 134, 147);
}

#son:disabled{
    background-color: rgb(228, 134, 147);
    color: white;
}

#son:disabled:hover{
    background-color: rgb(228, 134, 147);
}

.hh{
    color: rgb(228, 134, 147);
    opacity: 0.8;
    font-style: italic;
}

.todo-input, btn-form{
    display: inline-block;
    vertical-align: middle; /* Dikeyde hizalama */
    margin-right: 10px; /* Aradaki boşluk */
}

@media (orientation: landscape) {
    .App {
    height: 100vh;
    }
  
    .list {
    max-height: 300px;
    }
  }

  @media (min-height: 1180px)  {
    .list {
      max-width: 600px; /* Tablet ekranında daha geniş görünüm */
      min-height: 50vh; /* Boşlukları doldurmak için minimum yükseklik */
    }
    .hh{
        padding-top: 20px;
    }

  }

  @media (min-height: 750px) {
    .list {
      max-height: 400px; /* Daha yüksek ekranlarda daha fazla görünüm */
    }
  }


  @media(max-height: 600px){
    .list{
        max-height: 200px;
    }
  }
  
